@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-dark dark:text-white transition-colors duration-300;
}